@theme {
  --color-brand-bg: #000000;
  --color-brand-primary: #C19955;
  --color-brand-primary-dark: #A77C35;
  --color-brand-primary-light: #E4C473;
  --color-brand-secondary: #8F949B;
  --color-brand-text: #F2F3F4;
  --color-brand-muted: #626971;
}

body {
  background: var(--color-brand-bg);
  color: var(--color-brand-text);
}